{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="cloudSnitch">
  <head>
    <meta charset="utf-8">
    <title>Cloud Snitch</title>
    <link href="{% static 'common/css/bootstrap.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'common/css/helix-ui.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'common/css/angularjs-datetime-picker.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'common/css/cloudsnitch.css' %}" type="text/css" rel="stylesheet" />
    <script src="{% static 'common/js/webcomponents-loader.js' %}" type="text/javascript"></script>
  </head>
  <body class="hxVertical">
    <header id="head"></header>
    <div id="stage" ng-controller="MainController" resize>
      <main id="content" class="hxBox-md">
        <div ng-if="ready" ng-controller="PanesController" class="panesContainer">
          <div class="hxRow panesRow">
            <pane ng-repeat="pane in panes" ng-controller="PaneController" ng-init="init(pane)" class="hxCol hxSpan-6"></pane>
            <addpanebox class="hxCol" ng-click="addPane()" ng-if="numPanes < maxPanes"></addpanebox>
          </div><!-- Panes Controller -->
        </div>
      </main>
    </div>
    <footer id="foot"></foot>
    <script src="{% static 'common/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/custom-elements-es5-adapter.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/helix-ui.browser.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/angular.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/angularjs-datetime-picker.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
      angular.module('cloudSnitch', ['angularjs-datetime-picker']);
    </script>
    <script src="{% static 'common/js/services/api.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/services/time.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/services/types.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/directives/pane.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/directives/datetime.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/directives/resize.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/controllers/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/controllers/panes.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/controllers/pane.js' %}" type="text/javascript"></script>
    <script src="{% static 'common/js/controllers/details.js' %}" type="text/javascript"></script>
  </body>
</html>
