<div class="hxBox-md pane-container">
  <panetopctrl></panetopctrl>
  <div>
    <h2>Find Object:</h2>
  </div>
  <form name="search-form">
    <div class="hxRow">
      <div class="hxSpan-4">
        <label>Object Type</label>
        <select class="hxTextCtrl" name="typeSelect" ng-model="search.type" ng-change="updateProperties()" ng-required="true">
          <option ng-repeat="type in types" value="{{type.label}}">{{type.label}}</option>
        </select>
      </div>

      <div class="hxSpan-4">
        <label>Identity</label>
        <input class="hxTextCtrl" type="text" name="identity" ng-model="search.identity" ng-required="false" />
      </div>

      <div class="hxSpan-4">
        <label>Time</label>
        <input class="hxTextCtrl" type="text" name="time" ng-model="search.time" ng-required="false" />
      </div><!-- hxSpan -->
    </div><!-- hxRow -->

    <div class="hxRow" ng-if="paneObj.search.filters.length > 0">
      <div class="hxSpan-12"><h6>Filters:</h6></div>
    </div>

    <div class="hxRow" ng-repeat="filter in paneObj.search.filters">
      <div class="hxSpan-4">
        <label>
          Property:
          <select name="property" ng-model="filter.property">
            <option ng-repeat="property in paneObj.search.properties" value="{{property}}">{{property}}</option>
          </select>
        </label>
      </div>

      <div class="hxSpan-4">
        <label>
          Operator:
          <select name="operator" ng-model="filter.operator">
            <option ng-repeat="operator in operators" value="{{operator}}">{{operator}}</option>
          </select>
        </label>
      </div>

      <div class="hxSpan-4">
        <label>
          Value:
          <input name="filterValue" ng-model="filter.value" required="false" />
        <label>
      </div>

      <button class="hxBtn hxPrimary">Search</button>
    </div><!-- hxRow -->
  </form>
</div>
